{% extends 'base.html.twig' %}

{% block body %}
    <div id="content" class="{{ current_page }}">
        <h1 class="left"></h1>
        <div class="separator_grey_h_l_line"></div>
        <div id="karaoke">
            <p>Puddy-B partenaire de busdiscotheque s’associe avec tous les nouveaux prestataires pour faire de vos évènements un moment unique à bord des bus discothèque.</p>
            <p>Poowood, oolloolloo, aty-ato.com ou encore l’incontournable bus-discotheque, voilà les partenaires de Puddy-B>.</p>
            <p>Chaque partenaire possède une gamme spécifique de disco bus et chacun est complémentaire ainsi :</p>
            <p>Aty-Ato et Poowood sont spécialisés dans la location de bus discothèque avec un design très moderne et un aménagement aux couleurs contemporaines. Leur slogan atomiquement atypique traduit à lui tout seul leurs idées. Aty-Ato et Pooowood sont également équipés de karaoké bus paris.</p>
            <p>Busdiscotheque, leader incontesté et incontestable, 10 ans d’expériences, 08 bus disco, des centaines de party bus organisés chaque mois, 25 chauffeurs, 17 Dj, 15 barmans, il n’est donc pas nécessaire d’en dire plus.</p>
            <p>Oolloolloo, il n’y a qu’un seul mot pour les décrire : explosifs, c’est le juste mot. Nous vous laissons le soin de les découvrir.</p>
        </div>
        <a href="{{ path('bottom1') }}"><div id="arrow_down"></div></a>
    </div>
{% endblock %}