{% extends 'base.html.twig' %}

{% block body %}
    <div id="content" class="{{ current_page }}">
        <h1 class="left">Organiser son évènement à bord d’un bus discotheque</h1>
        <div class="separator_grey_h_l_line"></div>
        <div id="karaoke">
            <p>Les soirées bus à paris sont les soirée les plus magiques jamais vécues. En effet, le concept inventé par busdiscotheque et auquel s’associe aujourd’hui Puddy-B consiste à transformer des bus en de véritables espaces festifs, pour faire la fête.</p>
            <p>Ainsi vous pouvez, de jour comme de nuit, organiser votre évènement pour les particuliers de tous les âges comme les professionnelles de toutes professions à bord d’un de disco bus.</p>
            <p>Puddy-B vous promènera à travers les rues parisiennes devant les passants éblouis par ce concept qui ne laissera personne indifférent.</p>
            <p>Economiquement, la location d’un bus boite de nuit avec Puddy-B & busdiscotheque vous coûtera bien moins cher que toutes les locations de salle ou encore party bus paris, stan et walter ou soirée bus paris.</p>
            <p>Puddy-B et busdiscotheque offrent toute une gamme de formules pour tous les portefeuilles afin que chacun puisse organiser pleinement et en toute tranquillité son évènement</p>
            <p>Parcourir les rues parisiennes avec une coupe de champagne à la main à bord ‘un discobus simple, ou d’un bus disco double ou encore un bus boite de nuit avec terrasse avec ses proches et amis est un moment des plus inoubliables.</p>
            <p>Vous pourrez bien sûr en amont organiser pleinement votre soirée bus avec notre équipe commercial, comme le dépôt des boissons, les pauses définis par avance, gâteau sous la tour Eiffel etc…, il n’y a pas de limite tant le concept soirée bus est souple, mobile et adaptable à tous et à toutes vos envies.</p>
        </div>
        <a href="{{ path('bottom5') }}"><div id="arrow_down"></div></a>
    </div>
{% endblock %}