{% extends 'base.html.twig' %}

{% block body %}
    <div id="content" class="{{ current_page }}">
        <h1 class="left">Prix disco bus Paris</h1>
        <div class="separator_grey_h_l_line"></div>
        <div id="karaoke">
            <p>Sur ce point, Puddy-B et busdiscotheque fait très très simple : <a href="http://www.busdiscotheque.com/?p=concurrence_comparatif">ils sont les moins cher jusqu’ à plus de 90%</a>, nous avons les meilleurs disco bus dans la location de bus anniversaire ou bus boîte de nuit et offrons le meilleur rapport qualité prix service.</p>
            <p>Ni stan&walter, ni all night bus, encore moins soirée bus paris et party bus paris qui eux pratiquent des prix totalement hallucinant jusqu’à 1000 euros plus cherpour moins de services, ne vous offre un service égalé.</p>
            <p>Aucune compagnie de location de bus boite de nuit paris n’est capable de vous offrir la qualité de nos services avec nos tarifs de busdisco.</p>
            <p>Parce que notre parc de discobus est des plus complets, des plus aboutis, des plus beaux et parce que nos équipes sont tous des professionnels contrairement aux autres ou c’est le mari et la femme en plus de leur travail de chauffeur qui gèrent vos demandes.</p>
            <p>Nous sommes imbattables sur le prix, imbattables sur les bus, imbattables sur la qualité et les services.</p>
            <p>Les soirées bus discothèque, c’est avec busdiscotheque et Puddy-B.</p>
        </div>
        <a href="{{ path('bottom6') }}"><div id="arrow_down"></div></a>
    </div>
{% endblock %}