{% extends 'base.html.twig' %}

{% block body %}
    <div id="content" class="{{ current_page }}">
        <h1 class="left">une soirée bus 100% réussie</h1>
        <div class="separator_grey_h_l_line"></div>
        <div id="karaoke">
            <p>Voilà déjà plus de 10 ans que <a href="http://www.busdiscotheque.com">busdiscotheque</a> organise des évènements en bus disco pour ses clients. C’est donc tout à fait naturellement que Puddy-B s’associe avec busdiscotheque dans ce secteur.</p>
            <p>En effet busdiscotheque, avec une équipe de 50 professionnels de l’évènementiel, présente tous les avantages : expérience, structure, personnel, nombre de véhicules, marques, inventeur du concept, etc…</p>
            <p>Très au-dessus des <a href="http://www.busdiscotheque.com/?p=concurrence_nous">soirée bus paris, stan et walter, all nightbus ou bien party bus paris</a>, bus discothèque n’hésite jamais à investir pour avancer, progresser et toujours offrir plus de choix de discobus à ses clients.</p>
            <p>Les meilleurs travaillent avec les meilleurs, et Puddy-B.com a pour ambition d’offrir le meilleur à ses clients en termes de soirée bus à Paris.</p>
            <p>Les bus boite de nuit haut de gamme c’est chez Puddy-B.com, les bus karaokés c’est chez Puddy-B.com, les offres tout compris c’est chez Puddy-B.com et busdiscotheque.com, les meilleurs tarifs c’est chez Puddy-B.com, les prix exorbitants c’est chez soirée bus paris, party bus paris, stanetwalter, ou encore all night bus.</p>
            <p>Avec Puddy-B,com et busdiscotheque.com ce sont un maximum de services pour un prix minimum.</p>
        </div>
        <a href="{{ path('bottom3') }}"><div id="arrow_down"></div></a>
    </div>
{% endblock %}