{% extends 'base.html.twig' %}

{% block body %}
    <div id="content" class="{{ current_page }}">
        <h1>en clair</h1>
        <div class="separator_red_h_line"></div>
        <div id="en_clair_bg"></div>
        <a href="{{ path('contact') }}"><div id="arrow_down"></div></a>
        <div class="clear"></div>
    </div>
{% endblock %}