<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Puddy-B{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <div id="shroud" class="active"></div>
    <div id="overtitle_bar"></div>
    <div id="overtitle">découvrez vite <span>les meilleures prestations de soirées en bus discothèques</span> à paris</div>
    <div id="wrapper">
        <div id="index_logo"></div>
        <a href="{{ path('accueil') }}"><div id="arrow_down"></div></a>
        {% include 'footer.html.twig' %}
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
