<footer>
    <div>
        <h2>Coordonnées</h2>
        <p>
            Location de Bus Karaoké pour tous vos événements :<br>
            commercial.puddy-b@gmail.com - 01.45.00.00.00<br>
            Du lundi au vendredi de 9h à 19h<br>
            RDV dans notre bureau en Île-de-France sur demande
        </p>
    </div>
    <div>
        <h2>Plan du site</h2>
        <p>
            Parcours
        </p>
    </div>
    <div>
        <h2>À Propos</h2>
        <p>
            CGV<br>
            Mentions légales<br>
            Quelques Références
        </p>
    </div>
</footer>